{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <h1>Manager App</h1>

    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('web_register') }}">Register</a>
{% endblock %}
