<div class="row">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
    <div class="col">
        {{ form_row(form.image) }}
    </div>
    <div class="col">
        {{ form_row(form.rate) }}
    </div>
</div>